<!DOCTYPE html>
<html>
<head>
  <title>TabBlog</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag("main") %>
  <!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/skin.css">
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/container/container_core-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.2r1/build/editor/simpleeditor-min.js"></script>

</head>
<body>	
	<script>
	var myEditor = new YAHOO.widget.SimpleEditor('post_body', {
	    height: '300px',
	    width: '570px',
	    dompath: false //Turns on the bar at the bottom
	});
	myEditor.render();
	</script>
<div id="container">
<header>
	<h1><a href="/">Website of <span id="I">I</span><span id="A">a</span><span id="N">n</span> <span id="H">H</span><span id="AA">a</span></a></h1>
	<p>My thoughts mainly on software development, but also other stuff.</p>
</header>
<div id="main">
	<div id="left_side_bar">
		<div id="navlist">
			<h4>&nbsp;</h4>
			<ul>	
				<li><a href="/">Blog</a><span id="arrow">→</span></li>
				<li><a href="/">About</a></li>
				<li><a href="mailto:ian@ianha.com">Contact</a></li>
			</ul>
		</div>
		<ul id="follow">
			<li><a href="/"><%= image_tag("icon-twitter.png") %></a></li>
			<li><a href="/"><%= image_tag("icon-rss.png") %></a></li>
		</ul>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
</div>

<footer>Footer goes here</footer>

</body>
</html>
